(function() {
    function runCKEditor() {
        <%= ckeditor %>

        if (typeof CKEDITOR !== 'undefined') {
            CKEDITOR.disableAutoInline = true;
        }
    }

    function runReact() {
        <%= react %>
    }

    if (typeof window !== 'undefined') {
       runCKEditor();
       runReact();
    }

    <%= alloyeditor %>
}());